<template>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a
      class="pagination-previous"
      @click.prevent="changePage(1)"
      :disabled="pagination.current_page <= 1"
      >First page</a
    >
    <a
      class="pagination-previous"
      @click.prevent="changePage(pagination.current_page - 1)"
      :disabled="pagination.current_page <= 1"
      >Previous</a
    >
    <ul class="pagination-list">
      <li v-for="(page, index) in pages" :key="index">
        <a
          class="pagination-link"
          :class="isCurrentPage(page) ? 'is-current' : ''"
          @click.prevent="changePage(page)"
          >{{ page }}</a
        >
      </li>
    </ul>
    <a
      class="pagination-next"
      @click.prevent="changePage(pagination.current_page + 1)"
      :disabled="pagination.current_page >= pagination.last_page"
      >Next page</a
    >
    <a
      class="pagination-next"
      @click.prevent="changePage(pagination.last_page)"
      :disabled="pagination.current_page >= pagination.last_page"
      >Last page</a
    >
  </nav>
</template>

<script>
export default {
  name: "Pagination",
  props: ["pagination", "offset"],
  methods: {
    isCurrentPage(page) {
      return this.pagination.current_page === page;
    },
    changePage(page) {
      if (page > this.pagination.last_page) {
        page = this.pagination.last_page;
      }
      this.pagination.current_page = page;
      this.$emit("paginate", page);
    }
  },
  computed: {
    pages() {
      let pages = [];
      let from = this.pagination.current_page - Math.floor(this.offset / 2);
      if (from < 1) {
        from = 1;
      }
      let to = from + this.offset - 1;
      if (to > this.pagination.last_page) {
        to = this.pagination.last_page;
      }
      while (from <= to) {
        pages.push(from);
        from++;
      }
      return pages;
    }
  }
};
</script>

<style lang="postcss" scoped>
.pagination {
  @apply flex justify-center mt-5 text-sm mb-5;

  a {
    @apply select-none;
    transition: all 0.2s ease-in-out;

    &:hover,
    &.is-current {
      @apply bg-black text-white;
    }

    &[disabled="disabled"] {
      @apply text-grey-dark pointer-events-none;
    }
  }

  & > a {
    &:last-of-type {
      @apply border-r;
    }
  }

  &-previous,
  &-next {
    @apply rounded-l rounded-sm border-t border-b border-l border-gymshark-grey px-3 py-2 cursor-pointer no-underline;
  }

  &-list {
    @apply flex list-reset;
  }

  &-link {
    @apply block border-t border-b border-l border-gymshark-grey px-3 py-2 cursor-pointer no-underline;

    &:hover {
      @apply bg-black text-white;
    }
  }
}
</style>
