<template>
  <div class="loader">
    <div class="loader-inner"></div>
  </div>
</template>

<script>
export default {
  name: "Loader"
};
</script>

<style scoped lang="postcss">
.loader {
  height: 75px;
  width: 75px;
  margin: -35px auto 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 99;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #231f20;
    border-radius: 50%;
  }

  &:before {
    height: 65px;
    width: 65px;
    animation: loaderBorder-slow 2s infinite;
  }

  &:after {
    height: 45px;
    width: 45px;
    animation: loaderBorder-fast 2s infinite;
  }

  &-inner {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
      border-width: 3px;
      border-style: solid;
      border-color: transparent;
      border-top-color: #231f20;
      border-radius: 50%;
    }

    &:after {
      height: 75px;
      width: 75px;
      animation: loaderBorder 2s infinite;
    }

    &:before {
      height: 55px;
      width: 55px;
      animation: loaderBorder-medium 2s infinite;
    }
  }
}

@keyframes loaderBorder {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  95% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loaderBorder-slow {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loaderBorder-medium {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  65% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loaderBorder-fast {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
</style>
