<template>
  <div class="notifications">
    <transition-group name="slideup">
      <div
        v-for="(notification, i) in timedNotifications()"
        :key="`notifications-${i}`"
        class="notification"
        :class="notification.type"
      >
        {{ notification.message }}
        <div
          class="close-notification"
          @click="closeNotification(notification)"
        ></div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import notificationStore from "./NotificationStore";

let Notification = {
  name: "Notification",
  props: {
    timeout: {
      type: Number,
      default: 5000
    }
  },
  mounted() {},
  methods: {
    closeNotification(notification) {
      clearTimeout(notification.timer);

      notificationStore.dispatch("removeNotification", notification, {
        root: true
      });
    },
    timedNotifications() {
      return notificationStore.state.notifications.map(item => {
        item.timer = setTimeout(() => {
          this.closeNotification(item);
        }, this.timeout);
        return item;
      });
    }
  }
};

export { Notification as default };
</script>

<style lang="postcss">
.notifications {
  @apply fixed pin-t z-100 w-full;
}

.notification {
  @apply fixed w-full py-3 px-12 text-center text-base leading-normal;
  transform: translateZ(0);

  &.success {
    @apply bg-green text-white;
  }

  &.warning {
    @apply bg-orange text-white;
  }

  &.error {
    @apply bg-red text-white;
  }
}

.close-notification {
  @apply absolute h-6 w-6 text-2xl font-bold cursor-pointer;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  &::before,
  &::after {
    @apply block absolute pin-x;
    content: "";
    height: 3px;
    background-color: currentColor;
    top: 50%;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  @media screen (max-width: 767px) {
    right: 0.75rem;
  }
}
</style>
