@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto');

@tailwind preflight;


@tailwind components;

@for $i from 1 to 5 {
  h$(i) {
    @apply font-heading font-semibold uppercase;
  }
}

html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  }
body{
    @apply font-body;
}

h1{
    @apply text-heading tracking-loose;
}

a {
  @apply text-black no-underline;
}

.page{
    @apply flex flex-grow flex-col;
}

.form {
  @apply flex m-2 justify-center;
  input {
    @apply border border-gymshark-grey p-3 block text-center;
    min-width: 40px;
    max-width: 80px;

    &:focus {
      @apply outline-none;
    }
  }
}

button {
  @apply border border-gymshark-grey outline-none px-3;
  min-width: 40px;
  transition: all 0.2s ease-in-out;

  &:hover {
    @apply outline-none bg-black text-white;
  }

  &:focus {
    @apply outline-none;
  }

  &:first-of-type {
    @apply border-r-0;
  }

  &:last-of-type {
    @apply border-l-0;
  }

  &.black {
    @apply block border-0 bg-black text-white text-sm justify-center mt-3 mx-auto;
    min-height: 40px;
  }
}

.back-link {
  @apply text-sm mb-4;

  a {
    @apply no-underline;
    color: #999999;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: #000;
    }
  }
}

.multiselect{
  
  & &__tag{
    @apply text-sm;
    padding-right:25px;
    padding-bottom: 2px;
  }

  & &__option{
    @apply text-sm;
  }
}

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */