/* TRANSITIONS */

.slideup {
  &-leave-active,
  &-enter-active {
    transition: 0.5s;
  }

  &-enter,
  &-leave-to {
    transform: translate(0, -100%);
  }
}

.fade {
  &-leave-active,
  &-enter-active {
    transition: 0.5s opacity ease;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
}