<template>
  <div class="error-page">
    Oh Dear! - 404
  </div>
</template>

<script>
export default {};
</script>

<style lang="postcss" scoped>
.error-page {
  @apply text-5xl;
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
</style>
