<template>
  <div class="admin">
    <div class="packs">
      <p>Available Packs</p>
      <div class="pack" v-for="(item, index) in packs" :key="index">
        <div class="name">
          <input
            :class="{ editable: editing === item.id }"
            type="text"
            v-model="item.name"
          />
        </div>
        <div class="value">
          <input
            :class="{ editable: editing === item.id }"
            type="text"
            v-model="item.pack_size"
          />
        </div>
        <div class="modify">
          <span
            v-if="editing !== item.id"
            class="text-black cursor-pointer"
            @click="editing = item.id"
            >Modify</span
          >
          <span
            v-if="editing === item.id"
            class="text-green cursor-pointer"
            @click="savePack(item)"
            >Save</span
          >
        </div>
        <div class="delete">
          <span class="text-red cursor-pointer" @click="deletePack(item.id)"
            >Delete</span
          >
        </div>
      </div>
      <div class="form">
        <div class="field">
          <label>Name</label>
          <input type="text" v-model="newPack.name" />
        </div>
        <div class="field">
          <label>Pack Size</label>
          <input type="text" v-model="newPack.pack_size" />
        </div>
      </div>
      <button class="black" @click="addPack">Add New Pack</button>
    </div>
    <div class="products" v-if="products && packs">
      <div class="back-link">
        <router-link to="/">&lt; Back to frontend</router-link>
      </div>
      <div class="product" v-for="(product, index) in products" :key="index">
        <div class="image">
          <router-link :to="'/product/' + product.uuid">
            <img :src="product.image" />
          </router-link>
        </div>
        <div class="name">
          {{ product.name }} <br />
          {{ product.price }}
        </div>
        <div class="packs">
          <div>
            <multiselect
              :id="product.uuid"
              v-model="products[index].available_packs"
              :close-on-select="false"
              :clear-on-select="false"
              placeholder="Add a pack size"
              label="name"
              track-by="pack_size"
              :options="packs"
              :multiple="true"
              :hide-selected="true"
              :internal-search="true"
              :taggable="true"
              :searchable="false"
              @select="addPackToProduct"
              @remove="removePackFromProduct"
            ></multiselect>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { createNotification } from "@/components/utility/notification";
import Multiselect from "vue-multiselect";

export default {
  name: "Admin",
  components: { Multiselect },
  data() {
    return {
      packs: null,
      products: null,
      newPack: {
        name: null,
        pack_size: null
      },
      editing: null
    };
  },
  created() {
    this.getPacks();
    this.getProducts();
  },
  methods: {
    modifyPackOnProduct(option, id, method) {
      axios({
        url: `${process.env.VUE_APP_API_ENDPOINT}/product/${id}`,
        data: {
          pack_id: option.id,
          method: method
        },
        method: "PUT"
      }).then(
        () => {},
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }
        }
      );
    },
    addPackToProduct(selectedOption, id) {
      this.modifyPackOnProduct(selectedOption, id, "attach");
    },
    removePackFromProduct(removedOption, id) {
      this.modifyPackOnProduct(removedOption, id, "detach");
    },
    getPacks() {
      axios({
        url: `${process.env.VUE_APP_API_ENDPOINT}/packs`,
        params: {},
        method: "GET"
      }).then(
        response => {
          this.packs = response.data.resource;
        },
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }
        }
      );
    },
    addPack() {
      let { name, pack_size } = this.newPack;

      if (!name || !pack_size) {
        createNotification("error", "Please fill in all fields");
        return false;
      }

      axios({
        url: `${process.env.VUE_APP_API_ENDPOINT}/pack`,
        data: {
          name: name,
          pack_size: pack_size
        },
        method: "POST"
      }).then(
        () => {
          this.getPacks();
        },
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }
        }
      );
    },
    deletePack(packId) {
      axios({
        url: `${process.env.VUE_APP_API_ENDPOINT}/pack`,
        data: {
          packId: packId
        },
        method: "DELETE"
      }).then(
        () => {
          this.getPacks();
          this.getProducts();
        },
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }
        }
      );
    },
    savePack(item) {
      axios({
        url: `${process.env.VUE_APP_API_ENDPOINT}/pack`,
        data: item,
        method: "PUT"
      }).then(
        () => {
          this.getPacks();
          this.getProducts();
        },
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }
        }
      );

      this.editing = null;
    },
    getProducts() {
      axios({
        url: `${process.env.VUE_APP_API_ENDPOINT}/products`,
        params: {
          all: true
        },
        method: "GET"
      }).then(
        response => {
          this.products = response.data.resource;
        },
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }
        }
      );
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="postcss" scoped>
.admin {
  @apply flex h-full flex-grow;
}
.packs {
  @apply w-2/5 border-r border-gymshark-grey py-5 px-8;

  .form {
    @apply mt-8 pt-4 border-t border-gymshark-grey;

    & .field {
      @apply flex flex-col items-center text-center w-1/2 px-1;

      input {
        max-width: 100%;
      }
    }
  }
}

.products {
  @apply w-3/5 py-5 px-8 text-sm;

  .product {
    @apply flex border border-gymshark-grey p-3 font-bold mt-3 items-center;

    .name {
      @apply w-1/3 border-r border-gymshark-grey py-2 text-center leading-normal;
    }

    .packs {
      @apply flex-grow py-2 text-center font-normal border-r-0;
    }

    .image {
      @apply w-auto;
      img {
        max-width: 50px;
      }
    }
  }
}

.pack {
  @apply flex border border-gymshark-grey py-3 text-sm font-bold mt-3;

  .name,
  .value,
  .modify {
    @apply w-1/3 border-r border-gymshark-grey px-2 text-center flex justify-center items-center;

    input {
      @apply pointer-events-none border border-transparent block w-full h-full text-center font-bold;
      transition: all 0.2s ease-in-out;

      &.editable {
        @apply pointer-events-auto border border-gymshark-grey font-normal;

        &:focus {
          @apply outline-none;
        }
      }
    }
  }

  .delete {
    @apply w-1/3 py-2 text-center;
  }
}
</style>
