<template>
  <div class="home">
    <h1>All products</h1>
    <div class="product-filters">
      <div>
        <select v-model="orderBy">
          <option value="price">Price</option>
          <option value="name">Name</option>
        </select>
      </div>
      <div>
        <select v-model="orderDir">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
      <div>
        <select v-model="perPage">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <loader v-if="loading"></loader>
    </transition>
    <transition name="fade" mode="out-in">
      <product-list v-if="products" :products="products"></product-list>
    </transition>
    <div class="product-pagination" v-if="pagination">
      <pagination
        v-if="pagination.last_page > 1"
        :pagination="pagination"
        :offset="8"
        @paginate="setPage"
      ></pagination>
    </div>
  </div>
</template>

<script>
import { Loader } from "@/components/utility/loader";
import { ProductList } from "@/components/products";
import { createNotification } from "@/components/utility/notification";
import { Pagination } from "@/components/utility/pagination";
import axios from "axios";

export default {
  name: "home",
  components: { Loader, ProductList, Pagination },
  data() {
    return {
      loading: true,
      products: null,
      perPage: 10,
      page: 1,
      orderBy: "name",
      orderDir: "asc",
      pagination: null
    };
  },
  created() {
    this.getProducts();

    //watch the filers & display options for changes

    this.$watch(vm => (vm.perPage, Date.now()), function() {
      this.page = 1;
      this.getProducts();
    });

    this.$watch(
      vm => (vm.page, vm.orderBy, vm.orderDir, Date.now()),
      function() {
        this.getProducts();
      }
    );
  },
  methods: {
    setPage(newPage) {
      this.page = newPage;
    },
    getProducts() {
      this.products = null;
      this.loading = true;

      axios({
        //url: process.env.VUE_APP_API_ENDPOINT + "products",
        url: `${process.env.VUE_APP_API_ENDPOINT}/products`,
        params: {
          page: this.page,
          perPage: this.perPage,
          orderBy: this.orderBy,
          orderDir: this.orderDir
        },
        method: "GET"
      }).then(
        response => {
          this.products = response.data.resource.data;
          this.loading = false;
          delete response.data.resource.data;
          this.pagination = response.data.resource;
        },
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }
        }
      );
    }
  },
  watch: {}
};
</script>

<style lang="postcss" scoped>
h1 {
  @apply text-center my-4;
}

.product-filters {
  @apply flex justify-center px-4 items-center mb-4;

  select {
    @apply border-black border p-1 mx-2 font-body;
  }
}
</style>
