<template>
  <div class="product">
    <transition name="fade" mode="out-in">
      <loader v-if="loading"></loader>
    </transition>
    <transition name="fade" mode="out-in">
      <div class="product-content" :class="{ loading: loading }" v-if="product">
        <div class="back-link">
          <router-link to="/">&lt; Back to All Products</router-link>
        </div>
        <div class="product-details">
          <div class="product-image">
            <img :src="product.image" />
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h1>{{ product.name }}</h1>

              <h3>£{{ product.price }}</h3>
              <div v-if="product.available_packs.length >= 1">
                <p>Available in packs of:</p>
                <div class="available-packs">
                  <div
                    class="available-packs__item"
                    v-for="(pack, index) in product.available_packs"
                    :key="index"
                  >
                    {{ pack.pack_size }}pc
                  </div>
                </div>
                <div class="form">
                  <button @click="number--">-</button>
                  <input
                    type="text"
                    v-on:keyup.enter="getPackBreakdown"
                    v-model="number"
                  />
                  <button @click="number++">+</button>
                </div>
                <button class="black" @click="getPackBreakdown">
                  Calculate
                </button>
              </div>
              <div
                v-if="
                  !product.available_packs ||
                    product.available_packs.length <= 0
                "
              >
                <p class="text-red font-bold">No Packs Available</p>
              </div>
              <transition name="fade" mode="out-in">
                <div class="pack-breakdown" v-if="packs">
                  <h4>Pack breakdown:</h4>
                  <span v-for="(count, pack) in packs" :key="pack">
                    {{ count }} X {{ pack }}
                  </span>
                </div>
              </transition>
              <transition name="fade" mode="out-in">
                <div class="total-price" v-if="totalPrice">
                  <h4>Total Price: <br />£{{ totalPrice }}</h4>
                </div>
              </transition>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import { Loader } from "@/components/utility/loader";
import { createNotification } from "@/components/utility/notification";
import axios from "axios";

export default {
  name: "home",
  components: { Loader },
  data() {
    return {
      loading: true,
      product: null,
      number: 250,
      packs: null,
      totalPrice: null
    };
  },
  created() {
    this.getProduct();
  },
  methods: {
    getProduct() {
      this.product = null;
      this.loading = true;

      axios({
        url: `${process.env.VUE_APP_API_ENDPOINT}/product/${
          this.$route.params.uuid
        }`,
        params: {},
        method: "GET"
      }).then(
        response => {
          this.product = response.data.resource;
          this.loading = false;
        },
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }
        }
      );
    },
    getPackBreakdown() {
      this.loading = true;
      axios({
        url: `${process.env.VUE_APP_API_ENDPOINT}/product-packs`,
        data: {
          product_uuid: this.product.uuid,
          number: this.number
        },
        method: "POST"
      }).then(
        response => {
          this.packs = response.data.resource.packs;
          this.totalPrice = response.data.resource.price;
          this.loading = false;
        },
        err => {
          if (!err.response || !err.response.data.message) {
            createNotification("error", "Could not connect to server");
          } else {
            createNotification("error", err.response.data.message);
          }

          this.loading = false;
        }
      );
    }
  },
  watch: {}
};
</script>

<style lang="postcss" scoped>
h1,
h3 {
  @apply text-center my-4;
}

h3 {
  @apply text-grey font-medium;
  color: #999999;
}

p {
  @apply text-center;
}

.product-content {
  @apply m-5;
  transition: all 0.2s ease-in-out;

  &.loading {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
}

.product-details {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100%;
}

.product-image {
  img {
    @apply w-full block h-auto;
  }
}

.product-info {
  &__inner {
    @apply sticky;
    top: 2rem;
  }
}

.available-packs {
  @apply flex flex-wrap justify-center;

  &__item {
    @apply border border-gymshark-grey text-center text-sm block m-2 px-3;
    min-width: 40px;
    line-height: 40px;
  }
}

.pack-breakdown {
  @apply text-center mt-5;

  span {
    @apply block mt-2;
  }
}

.total-price {
  @apply text-center mt-5;
}

@screen md {
  .product-details {
    grid-template-columns: 66% auto;
  }
}
</style>
