<template>
  <header class="header">
    <div class="logo">
      <router-link to="/"><logo /></router-link>
      <router-link to="/admin" class="sub-link">Administration</router-link>
    </div>
  </header>
</template>

<script>
import Logo from "@/assets/images/gymshark-logo.svg";
export default {
  name: "Header",
  components: { Logo }
};
</script>

<style lang="postcss" scoped>
.header {
  @apply w-full bg-white border-b border-gymshark-grey px-8 py-4 pb-3;
}

.logo {
  @apply text-center;
  margin: 0 auto;
  max-width: 350px;
}

.sub-link {
  @apply mt-3 block underline;
}
</style>
