<template>
  <div class="product-list" v-if="loadedProducts">
    <product-item
      v-for="(product, index) in loadedProducts"
      :key="index.id"
      :product="product"
    />
  </div>
</template>

<script>
import { ProductItem } from "@/components/products";
export default {
  name: "ProductList",
  components: { "product-item": ProductItem },
  props: {
    products: {
      type: Array,
      default: () => null
    }
  },
  data() {
    return {
      loadedProducts: this.products
    };
  }
};
</script>

<style lang="postcss" scoped>
.product-list {
  margin: 0 20px 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@screen md {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@screen lg {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@screen xl {
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
</style>
