<template>
  <div class="product-list-item">
    <div class="product-list-item__image">
      <router-link :to="'/product/' + product.uuid">
        <img :src="product.image" />
      </router-link>
    </div>
    <div class="product-list-item__title">
      <router-link :to="'/product/' + product.uuid">
        {{ product.name }}
      </router-link>
    </div>
    <div class="product-list-item__price">
      <span>£{{ product.price }} per item</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductItem",
  props: {
    product: {
      type: Object,
      default: () => {}
    }
  }
};
</script>

<style lang="postcss" scoped>
.product-list-item {
  @apply text-xs text-center;

  &__title {
    a {
      @apply block my-2 no-underline text-black;
    }
  }

  &__price {
    color: #999;
  }
}
</style>
