<template>
  <footer class="footer">
    by Mike Zange
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style lang="postcss" scoped>
.footer {
  @apply text-sm w-full bg-white border-t border-gymshark-grey px-8 py-4 text-center;
}
</style>
