<template>
  <div id="app">
    <Header />
    <notification />
    <div class="page">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
    <Footer />
  </div>
</template>
<script>
import { Header, Footer } from "@/components/layout";
import { Notification } from "@/components/utility/notification";
import "@/assets/pcss/transitions.pcss";
import "@/assets/pcss/global.pcss";
export default {
  name: "App",
  components: { Notification, Header, Footer },
  data() {
    return {
      loaded: false
    };
  }
};
</script>

<style lang="postcss">
#app {
  @apply bg-white flex min-h-screen flex-col;
}
</style>
